/*Difficulty styles*/
.difficulty_button {
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
  width: 120px;
  height: 35px;
  font-size: 16px;
  line-height: 16px;
  padding: 10px 2px 10px 21px;
  cursor: pointer;
}
.difficulty_buttonLabel_dark {
  color: var(--text-secondary-color);
}
.difficulty_buttonLabel {
  display: inline-flex;
  align-items: center;
  margin-right: 7px;
}

.difficulty_text::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  border-radius: 50%;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.easy::before {
  background-color: var(--primary-color);
}
.normal::before {
  background-color: var(--main-green);
}
.hard::before {
  background-color: #db0837;
}

/*Category styles*/

.category_button {
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 120px;
  height: 35px;
  padding: 10px 2px 10px 21px;
  border-radius: 0px 25px 25px 0px;
}
.category_buttonLabel {
  margin-right: 3px;
}

.stuff {
  background-color: var(--text-secondary-color);
}
.family {
  background-color: var(--family-color);
}
.health {
  background-color: var(--health-color);
}
.learning {
  background-color: var(--learning-color);
}
.leisure {
  background-color: var(--leisure-color);
}
.work {
  background-color: var(--work-color);
}

/*Common styles*/
.category_radio,
.difficulty_radio {
  display: none;
  /* position: absolute;
  z-index: -1;
  opacity: 0; */
}

@media screen and (min-width: 768px) {
  .category_button {
    font-size: 11px;
    line-height: 11px;
    width: 88px;
    height: 25px;
    padding: 8px 2px 6px 21px;
    border-radius: 0px 15px 15px 0px;
  }
  .difficulty_button {
    font-size: 14px;
    line-height: 14px;
    height: 25px;
    padding: 8px 2px 6px 21px;
  }
}
