.target-appear {
  opacity: 0;
}

.target-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in 250ms;
}

.leftClouds-appear {
  transform: translateX(-30%);
}

.leftClouds-appear-active {
  transform: translateX(0);
  transition: transform 1000ms ease-in 250ms;
}

.rightClouds-appear {
  transform: translateX(30%);
}

.rightClouds-appear-active {
  transform: translateX(0);
  transition: transform 1000ms ease-in 250ms;
}

.arrow-appear {
  opacity: 0;
  transform: translate(70%, -50%);
}

.arrow-appear-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 500ms ease 1000ms, opacity 250ms ease-in 1000ms;
}
