.questBox,
.challengeBox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px 15px 15px;
  box-shadow: -3px -4px 4px var(--shadow-color), 3px 4px 4px var(--shadow-color);
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 1;
}

.questBox {
  background-color: var(--white);
  color: var(--black);
}

.challengeBox {
  background-color: var(--challange-bg-color);
  color: var(--white);
}

.questBox:hover,
.questBox:focus,
.challengeBox:hover,
.challengeBox:focus {
  box-shadow: -3px 0px 5px var(--shadow-hover-color),
    3px 5px 5px var(--shadow-hover-color);
}

.contentBox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  font-size: 11px;
}

.link {
  position: relative;
  margin-left: 7px;
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: var(--btn-active-color);
  border-bottom: 1px solid var(--btn-active-color);
}

.link:active {
  color: var(--link-active);
  border-bottom: 1px solid var(--link-active);
}

.linkText {
  display: inline-block;
  width: 95px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image {
  margin-bottom: 5px;
  width: 144px;
  height: 124px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 63px;
  color: var(--text-secondary-color);
  line-height: 1;
}

.arrow {
  color: var(--primary-color);
  fill: currentColor;
}

.button:focus .arrow,
.button:hover .arrow {
  color: var(--btn-active-color);
}

.button:active .arrow {
  color: var(--link-active);
}

@media screen and (max-width: 768px) {
  .questBox,
  .challengeBox {
    font-size: 16px;
  }

  .content {
    font-size: 14px;
  }

  .linkText {
    display: inline-block;
    width: 150px;
  }

  .image {
    margin-bottom: 5px;
    width: 230px;
    height: 175px;
  }

  .button {
    width: 90px;
  }

  .arrow {
    width: 12px;
    height: 12px;
  }
}

.awardBox {
  position: relative;
  margin: 0 auto 5px;
  width: 144px;
  height: 124px;
}

.iconBase,
.iconTarget,
.iconArrow {
  position: absolute;
}

.iconCloud1,
.iconCloud2,
.iconCloud3,
.iconCloud4,
.iconCloud5,
.iconCloud6,
.iconCloud7,
.iconCloud8,
.iconCloud9 {
  position: absolute;
  width: 25px;
  height: 10px;
}

.iconCloud1 {
  top: 0;
  left: 30px;
}

.iconCloud2 {
  top: 30px;
  left: 0px;
}

.iconCloud3 {
  top: 65px;
  left: 10px;
}

.iconCloud4 {
  top: 100px;
  left: 0;
}

.iconCloud5 {
  top: 90px;
  right: -10px;
}

.iconCloud6 {
  top: 50px;
  right: 0;
}

.iconCloud7 {
  top: 5px;
  right: 10px;
}

.iconCloud8 {
  top: 90px;
  left: 40px;
  z-index: 10;
}

.iconCloud9 {
  top: 103px;
  right: 40px;
  z-index: 10;
}

.iconBase {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 86px;
  height: 43px;
}

.iconTarget {
  bottom: 35px;
  left: calc(50% + 3px);
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
}

.iconArrow {
  top: 22px;
  left: calc(50% - 3px);
  width: 50px;
  height: 30px;
}
