.card {
    position: relative;
    margin: 25px 27px;
    padding:19px 21px 26px 21px;
    width: 205px;
    height: 199px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
}

.card:hover {
box-shadow: -3px 0px 5px rgba(21, 57, 90, 0.08),
3px 5px 5px rgba(21, 57, 90, 0.08);
}


.cardChallenge{
    composes: card;
    background-color: var(--challenge-bg-color);
}

.cardTitle{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--text-secondary-color);
    margin: 20px 0 0 0;
}

.buttonsList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.buttonsList > li {
  position: relative;
  display: inline-block;
  height: 16px;
}

.buttonsList > li:not(:first-child) {
  margin-left: 14px;
}

.buttonsList > li:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-7px, -50%);
  height: 16px;
  width: 1px;
  background-color: var(--text-secondary-color);
}

.cardTopButtons{
display: flex;
justify-content: flex-end;
align-items: center;
}

.cardBottomButtons{
    composes: cardTopButtons;
    margin-top: 42px;

}

.cardOperationsButtons {
    margin-left: auto;

}

.optionsPicker{
    position:absolute;
    left: 0;
    z-index: 1;
}

.cardInputWrapper{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.cardInput{
font-size: 16px;
width: 163px;
outline: none;
border-top:none;
border-left:none;
border-right:none;
border-bottom:1px solid var(--primary-color);
caret-color: var(--primary-color);
background-color: transparent;
}

.cardInputChallenge {
    composes: cardInput;
    color: var(--white);
}

.datePicker{
    height: 14px;

    margin-top: 12px;
}

.starIcon{
    filter: drop-shadow(0px 3px 4px rgba(0, 215, 255, 0.25));
}

.trophyIcon {
    filter: drop-shadow(0px 4px 4px rgba(0, 215, 255, 0.25));
}

.saveIcon {
}

.clearIcon {
}

.doneIcon{
}
.doneIcon:hover {
    fill: currentColor;
    color: var(--green-hover);
}

.createBtn {
  color: var(--primary-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-align: right;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 768px) {
    .card {
        width: 290px;
        height: 260px;
        margin: 20px auto;
        padding:18px 21px 42px 21px;
    }
    .cardTitle{
        font-size: 14px;
        margin: 39px 0 0 0;
    }
    .cardBottomButtons {
        margin-top: 46px;
    }
    .cardInput {
        margin-top: 19px;
    }
    .datePicker {
        margin-top: 16px;
    }
    .createBtn {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
  .card {
    margin: 25px 28px;
  }
}
