.card {
  position: relative;
  margin: 25px 27px;
  width: 205px;
  height: 199px;
  background-color: #f2f3f7;
  border-radius: 10px;
}

.cardChallenge {
  composes: card;
  background-color: var(--challenge-bg-color);
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
}

.cardTitle {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
}

.buttonsList {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.buttonsList > li {
  position: relative;
  display: inline-block;
  height: 16px;
}

.buttonsList > li:not(:first-child) {
  margin-left: 14px;
}

.buttonsList > li:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-7px, -50%);
  height: 16px;
  width: 1px;
  background-color: var(--text-secondary-color);
}

.cardInputWrapper {
}

.cardInput {
  width: 163px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--primary-color);
  caret-color: var(--primary-color);
  background-color: transparent;
}

.starIcon {
}

.trophyIcon {
}

.saveIcon {
}

.clearIcon {
}

.doneIcon {
}

.createBtn {
  color: var(--primary-color);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-align: right;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 320px) {
  .card {
    width: 290px;
    height: 260px;
    margin: 20px auto;
  }
  .cardTitle {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    margin: 25px 28px;
  }
}
