.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 21px;
  width: 205px;
  height: 199px;
  background-color: rgb(61, 60, 60);
  border-radius: 10px;
}

.subTitle {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color:var(--white);
}
