.pagination {
  font-size: 17px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  list-style: none;
  outline: none;
  width: fit-content;
}
.pagination > li:not(:last-child) {
  margin-right: 3px;
}

.pagination > .active > a {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white);
}
.pagination > li > a {
  border: 1px solid var(--primary-color);
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
}

.pagination > li > a:hover {
  background-color: var(--primary-color);
  color: var(--white);
  box-shadow: var(--shadow-hover);
}

.pagination > li.disabled > a {
  color: red;
  border-color: red;
}
.pagination .disabled > a:hover {
  background-color: var(--white);
  /* color: var(--primary-color); */
  cursor: not-allowed;
  box-shadow: none;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: var(--shadow-hover);
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: var(--primary-color);
  background-color: var(--white);
}
/* .pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 10px;
} */

@media screen and (max-width: 767px) {
  .pagination .previous > a,
  .pagination .next > a {
    padding: 20px 15px;
    border-radius: 50%;
  }
}
@media screen and (min-width: 768px) {
  .pagination > li > a {
    padding: 7px 14px;
    border-radius: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .pagination {
    margin: 20px 0;
  }
}
