@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
    url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Medium.woff') format('woff'),
    url('HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('HelveticaNeueCyr-Black.eot');
  src: local('HelveticaNeueCyr-Black'),
    url('HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Black.woff') format('woff'),
    url('HelveticaNeueCyr-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
    url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Roman.woff') format('woff'),
    url('HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
    url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Bold.woff') format('woff'),
    url('HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('HelveticaNeueCyr-Light.eot');
  src: local('HelveticaNeueCyr-Light'),
    url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Light.woff') format('woff'),
    url('HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
