.baseContainer {
  display: flex;
  padding: 21px;
  flex-direction: column;
  width: 290px;
  height: 260px;
  align-items: center;
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.03),
    3px 4px 4px rgba(21, 57, 90, 0.03);
  border-radius: 10px;
  position: relative;
}

.ContainerChallenge {
  composes: baseContainer;
  background: var(--challenge-bg-color);
}

.Icon {
  height: 19px;
  width: 19px;
  position: absolute;
  top: 18px;
  right: 22px;
}

.cardType {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--text-secondary-color);
}

.taskNameChallenge {
  display: flex;
  justify-content: center;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  padding-left: 21px;
  padding-right: 21px;
  width: inherit;

  color: var(--white);
}

.taskNameBase {
  composes: taskNameChallenge;
  margin-top: 71px;
  color: var(--text-primary-color);
}

.difficaltyContainer {
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.difficultyLevel {
  display: flex;
  align-items: center;
  margin-left: 21px;
}

.difficalty {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-left: 7px;
  color: var(--text-secondary-color);
}

.difficaltyNormal {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: var(--main-green);
}

.difficaltyEasy {
  composes: difficaltyNormal;
  background-color: var(--primary-color);
}

.difficaltyHard {
  composes: difficaltyNormal;
  background-color: var(--main-red);
}

.dateStyle {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
  margin-top: 10px;
}

.categstuff {
  padding-left: 21px;
  margin: 0;
  display: flex;
  height: 35px;
  width: 120px;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  bottom: 33px;
  left: 0;
  color: var(--text-primary-color);
  background-color: var(--text-secondary-color);
}

.categfamily {
  composes: categstuff;
  background-color: var(--family-color);
}

.categhealth {
  composes: categstuff;
  background-color: var(--health-color);
}

.categlearning {
  composes: categstuff;
  background-color: var(--learning-color);
}

.categleisure {
  composes: categstuff;
  backgound-color: var(--leisure-color);
}

.categwork {
  composes: categstuff;
  background-color: var(--work-color);
}

@media screen and (min-width: 768px) {
  .ContainerChallenge,
  .baseContainer {
    width: 205px;
    height: 199px;
  }

  .taskNameChallenge {
    font-size: 16px;
  }

  .taskNameBase {
    font-size: 16px;
    margin-top: 42px;
  }

  .dateStyle {
    font-size: 14px;
    line-height: 14px;
  }

  .Icon {
    height: 14px;
    width: 14px;
  }

  .cardType {
    margin-top: 20px;
    font-size: 12px;
    line-height: 12px;
  }

  .categstuff,
  .categfamily,
  .categhealth,
  .categlearning,
  .categleisure,
  .categwork {
    font-size: 11px;
    line-height: 11px;
    height: 25px;
    width: 88px;
    bottom: 21px;
  }

  .difficalty {
    font-size: 14px;
    line-height: 14px;
  }

  .difficaltyNormal,
  .difficaltyEasy,
  .difficaltyHard {
    height: 8px;
    width: 8px;
  }
}
