.container {
  padding: 0 15px 40px;
  min-height: calc(100vh - 60px);
  height: 100%;
  background-color: var(--body-bg-color);
}

.buttonAddContainer {
  position: fixed;
  bottom: 50px;
  right: 15px;
  z-index: 11;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 50px 40px;
    min-height: calc(100vh - 70px);
  }

  .buttonAddContainer {
    bottom: 42px;
    right: 23px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 70px 50px;
  }

  .buttonAddContainer {
    bottom: 40px;
    right: 46px;
  }
}

.section {
  padding-top: 30px;
}
.sectionDone {
  margin-top: 60px;
}

.sectionTitle {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--text-primary-color);
}

.IconDone {
  fill: var(--primary-color);
}

.btnDone {
  composes: sectionTitle;
  margin: 0;
  width: 64px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.lineWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.lineWrapper::after {
  content: '';
  width: 100%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent 40%,
    var(--text-secondary-color) 40%
  );
  background-size: 20px 100%;
}

.Icon {
  fill: var(--white);
}

.overdueContainer > ul > li > button {
  filter: drop-shadow(0px 0px 2px var(--accent-red));
}
