  /*-- form --*/

.form {
  position: relative;
  display: flex;
  flex-direction: column;
}

  /*-- inputForm --*/

.inputForm {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  width: 196px;
}

.inputForm + .inputForm {
  margin-top: 20px;
}

input::placeholder {
  color: var(--primary-color);
}

@media screen and (max-width: 767px) {
  .inputForm {
    width: 100%;
  }
}
