.modal-enter {
  opacity: 0;
}

.modal-enter-active {
  opacity: 1;
  transition: opacity 250ms linear;
}

.modal-exit {
  opacity: 1;
}

.modal-exit-active {
  opacity: 0;
  transition: opacity 250ms linear;
}

.content-appear {
  transform: scale(0.9);
}

.content-appear-active {
  transform: scale(1);
  transition: transform 250ms linear;
}
