.date-time-picker-container {
  width: 205px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-datetime-picker {
  color: var(--text-primary-color);
}

.react-datetime-picker__wrapper {
  border: none;
  width: 195px;
  height: 14px;
  align-items: center;
  justify-content: space-between;
}

.react-datetime-picker__button {
  padding: 2px;
}
.react-datetime-picker__button svg {
  width: 12px;
  height: 12px;
}

.react-datetime-picker__inputGroup {
  min-width: calc(3px + (3px * 3) + 0.54em * 6 + 0.217em * 2);
  -ms-flex-positive: 1;
  flex-grow: 0;
  padding: 0 2px;
}

.react-datetime-picker__inputGroup__leadingZero,
.react-datetime-picker__inputGroup__divider,
.react-datetime-picker__inputGroup__input,
.react-calendar__navigation__label {
  font-size: 12px;
}

.react-datetime-picker__calendar .react-calendar {
  font-size: 12px;
  border-radius: 5px;
  width: 195px;
}

.react-calendar__navigation {
  height: 25px;
}

.react-calendar__navigation button {
  min-width: 15px;
}

.react-calendar__navigation button:hover {
  background-color: var(--btn-active-color);
}

.react-calendar__navigation__arrow {
  border-radius: 5px;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--primary-color);
}

.react-calendar__month-view__days abbr {
  font-size: 9px;
}

.react-calendar__tile {
  width: 14px;
  padding: 2px;
}

.react-calendar__tile:hover {
  background-color: var(--stuff-color);
}

.react-calendar__tile--now {
  background-color: var(--learning-color);
  color: var(--text-primary-color);
}

.react-datetime-picker__clock {
  display: none;
}
