.checkboxList {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  position: absolute;
  width: 90px;
  /* height: 80px; */
  padding: 14px 16px 14px 12px;
  background: var(--white);
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.05),
    3px 4px 4px rgba(21, 57, 90, 0.05);
  border-radius: 10px;
}
.radio {
  display: none;
  /* position: absolute;
    z-index: -1;
    opacity: 0; */
}

.label {
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--text-scondary-color);
  cursor: pointer;
}
.label:not(:last-child) {
  margin-bottom: 5px;
}

span {
  display: inline-flex;
  align-items: center;
}

.radio:checked + span {
  color: var(--text-primary-color);
}

span::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  border-radius: 50%;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.easy::before {
  background-color: var(--primary-color);
}
.normal::before {
  background-color: #24d40c;
}
.hard::before {
  background-color: #db0837;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
}
.btn:disabled {
  color: var(--text-scondary-color);
}
.btnLabel {
  margin-right: 7px;
}
