ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Difficulty styles*/
.difficulty_container {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  position: absolute;
  z-index: 15;
  top: -13%;
  left: 0;
  width: 90px;
  height: 80px;
  padding: 5px 2px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
  background-color: var(--white);
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.05),
    3px 4px 4px rgba(21, 57, 90, 0.05);
  border-radius: 10px;
}

.dark_container {
  background-color: #3e4e6c;
}

.difficulty_label {
  display: inline-flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 4px 10px;
}

.difficulty_text,
.difficulty_dark_text {
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
}

.difficulty_text::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  border-radius: 50%;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.easy::before {
  background-color: var(--primary-color);
}
.normal::before {
  background-color: var(--main-green);
}
.hard::before {
  background-color: #db0837;
}
.radio_outline {
  position: absolute;
  left: 10px;
  width: 12px;
  height: 12px;
  opacity: 0;
  border-radius: 50%;
  /* border: 2px dashed; */
}

.difficulty_radio:checked ~ .difficulty_text {
  color: var(--text-primary-color);
}
.difficulty_radio:hover ~ .difficulty_text,
.difficulty_radio:focus ~ .difficulty_text {
  color: var(--text-primary-color);
}
.difficulty_dark_radio:checked ~ .difficulty_text {
  color: var(--white);
}
.difficulty_dark_radio:hover ~ .difficulty_text,
.difficulty_dark_radio:focus ~ .difficulty_text {
  color: var(--white);
}

.difficulty_radio[value='easy']:hover ~ .radio_outline,
.difficulty_radio[value='easy']:focus ~ .radio_outline {
  /* border-color: var(--primary-color); */
  box-shadow: 0px 0px 5px 2px var(--primary-color);
  opacity: 1;
}
.difficulty_radio[value='normal']:hover ~ .radio_outline,
.difficulty_radio[value='normal']:focus ~ .radio_outline {
  /* border-color: var(--main-green); */
  opacity: 1;
  box-shadow: 0px 0px 5px 2px var(--main-green);
}
.difficulty_radio[value='hard']:hover ~ .radio_outline,
.difficulty_radio[value='hard']:focus ~ .radio_outline {
  /* border-color: #db0837; */
  box-shadow: 0px 0px 5px 2px #db0837;
  opacity: 1;
}
.difficulty_radio[value='easy']:checked ~ .radio_outline {
  box-shadow: 0px 0px 5px 2px var(--primary-color);
  /* border-color: var(--primary-color); */
  opacity: 1;
}
.difficulty_radio[value='normal']:checked ~ .radio_outline {
  box-shadow: 0px 0px 5px 2px var(--main-green);
  /* border-color: var(--main-green); */
  opacity: 1;
}
.difficulty_radio[value='hard']:checked ~ .radio_outline {
  box-shadow: 0px 0px 5px 2px #db0837;
  /* border-color: #db0837; */
  opacity: 1;
}
.difficulty_dark_radio[value='easy']:hover ~ .radio_outline,
.difficulty_dark_radio[value='easy']:focus ~ .radio_outline {
  box-shadow: 0px 0px 5px 2px var(--primary-color);
  /* border-color: var(--primary-color); */
  opacity: 1;
}
.difficulty_dark_radio[value='normal']:hover ~ .radio_outline,
.difficulty_dark_radio[value='normal']:focus ~ .radio_outline {
  box-shadow: 0px 0px 5px 2px var(--main-green);
  /* border-color: var(--main-green);   */
  opacity: 1;
}
.difficulty_dark_radio[value='hard']:hover ~ .radio_outline,
.difficulty_dark_radio[value='hard']:focus ~ .radio_outline {
  box-shadow: 0px 0px 5px 2px #db0837;
  /* border-color: #db0837; */
  opacity: 1;
}
.difficulty_dark_radio[value='easy']:checked ~ .radio_outline {
  box-shadow: 0px 0px 5px 2px var(--primary-color);
  /* border-color: var(--primary-color); */
  opacity: 1;
}
.difficulty_dark_radio[value='normal']:checked ~ .radio_outline {
  box-shadow: 0px 0px 5px 2px var(--main-green);
  /* border-color: var(--main-green); */
  opacity: 1;
}
.difficulty_dark_radio[value='hard']:checked ~ .radio_outline {
  box-shadow: 0px 0px 5px 2px #db0837;
  /* border-color: #db0837; */
  opacity: 1;
}

/*Category styles*/
.category_container {
  position: absolute;
  top: 55%;
  left: 0;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  color: var(--text-main-color);
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 100px;
  height: 130px;
  padding: 4px 2px;
  background-color: var(--white);
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.05),
    3px 4px 4px rgba(21, 57, 90, 0.05);
  border-radius: 10px;
  z-index: 15;
}

.category_radio,
.difficulty_radio,
.difficulty_dark_radio {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.category_label {
  display: inline-flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 3px 10px;
}
.category_text {
  display: inline-flex;
  align-items: center;
  color: var(--text-secondary-color);
}

.category_radio:checked + .category_text,
.category_radio:hover + .category_text,
.category_radio:focus + .category_text {
  color: var(--text-primary-color);
}

@media screen and (min-width: 768px) {
  .category_container {
    font-size: 11px;
    line-height: 11px;
    width: 90px;
    height: 110px;
    padding: 6px 2px;
  }
  .difficulty_container {
    padding: 2px 2px;
    left: -2%;
    font-size: 14px;
    line-height: 14px;
  }
  .difficulty_label {
    padding: 6px 10px;
  }
}
