@import 'modern-normalize/modern-normalize.css';
@import './fonts/fonts.css';

body {
  margin: 0;

  font-family: HelveticaNeueCyr;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
