.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
}

/*Difficulty styles*/
.difficulty_container {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  position: absolute;
  top: -13%;
  left: 0;
  width: 90px;
  height: 80px;
  padding: 12px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);

  background-color: var(--white);
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.05),
    3px 4px 4px rgba(21, 57, 90, 0.05);
  border-radius: 10px;
}

.dark_container {
  background-color: #3e4e6c;
}

.difficulty_radio,
.difficulty_dark_radio {
  display: none;
  /* position: absolute;
  z-index: -1;
  opacity: 0; */
}

.difficulty_label {
  cursor: pointer;
}

.difficulty_label:not(:last-child) {
  margin-bottom: 5px;
}

.difficulty_text,
.difficulty_dark_text {
  display: inline-flex;
  align-items: center;
  text-transform: capitalize;
}

.difficulty_radio:checked + .difficulty_text {
  color: var(--text-primary-color);
}
.difficulty_dark_radio:checked + .difficulty_text {
  color: var(--white);
}
.difficulty_text::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  border-radius: 50%;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.easy::before {
  background-color: var(--primary-color);
}
.normal::before {
  background-color: var(--main-green);
}
.hard::before {
  background-color: #db0837;
}

/*Category styles*/
.category_container {
  position: absolute;
  top: 55%;
  left: 0;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  color: var(--text-primary-color);
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 100px;
  height: 130px;
  padding: 9px 11px;

  background-color: var(--white);
  box-shadow: -3px -4px 4px rgba(21, 57, 90, 0.05),
  3px 4px 4px rgba(21, 57, 90, 0.05);
  border-radius: 10px;
}

.category_radio {
  display: none;
  /* position: absolute;
  z-index: -1;
  opacity: 0; */
}

.category_label {
  cursor: pointer;
}
.category_label:not(:last-child) {
  margin-bottom: 5px;
}

.category_text {
  display: inline-flex;
  align-items: center;
}

.category_radio:checked + .category_text {
  color: var(--text-secondary-color);
}

@media screen and (min-width: 768px) {
  .category_container {
    font-size: 11px;
    line-height: 11px;
    width: 90px;
    height: 110px;
  }
  .difficulty_container {
    left: -2%;
    padding: 14px 12px;
    font-size: 14px;
    line-height: 14px;
  }
}
